* {
  font-family: sans-serif;
}
main {
  margin: 30px 100px 30px 100px;
}

h1 {
  font-size: 36px;
  text-align: center;
  padding-top: 50px;
}

form {
  text-align: center;
}
.task-input {
  width: 240px;
  height: 40px;
  padding: 6px;
  border-radius: 6px;
  border: 2px solid;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.add-task-button {
  width: 100px;
  height: 40px;
  margin-left: 10px;
  padding: 6px;
  border-radius: 6px;
  border: 2px solid;
  font-size: 16px;
  font-weight: 400;
}

.task_list {
  list-style: none;
}

.task {
  margin: 0 0 10px, 10px;
}

li {
  padding: 12px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

hr {
  border-top: 2px, solid, #b1b3b6;
  margin-top: 100px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  padding-left: 100px;
  padding-top: 4px;
}
